{% extends 'eshop/base.html' %}

{% block content %}
  <h1>Order History</h1>
  {% if orders %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Date</th>
          <th>Total Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.created }}</td>
            <td>{{ order.get_total_price }}</td>
            <td>
              <a href="{% url 'order_detail' order.id %}" class="btn btn-sm btn-primary">View</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You have no past orders.</p>
  {% endif %}
{% endblock %}